.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.logo {
	font-weight: bold;
	font-size: 22px;
}

.links {
	display: flex;
	align-items: center;
	gap: 20px;
}

.button {
	border: none;
	cursor: pointer;
	background-color: #53c28b;
	color: white;
	padding: 5px;
	border-radius: 3px;
}
